[submodule "libs/node-red-contrib-execute"]
	path = libs/node-red-contrib-execute
	url = https://github.com/sajayantony/node-red-contrib-execute
[submodule "libs/node-red-contrib-mqtt-dynamic"]
	path = libs/node-red-contrib-mqtt-dynamic
	url = https://github.com/sajayantony/node-red-contrib-mqtt-dynamic
